.col-3 img{
    height:auto;
    width: 100%;
    border-radius: none;
}


h1{
    font-size: 25px;
}
.fa-book{
    color:greenyellow;
}
.fa-user{
    color:blueviolet;
}
.fa-graduation-cap{
    color:aqua;
}
.fa-fa-hand-peace-o {
    color:brown;
} 

.h3{
    font-size:20px;
}

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  position: relative;
  margin: auto;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(13, 12, 12);
  border-radius: 50%;
  display: inline-block;
  transition:background-color 0.2s ease;
}
.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 200px) {
  .text {font-size: 11px}
}

#map{
  border-radius:10px;
}
#paybutton{
  color: indigo;
  background-color: cadetblue;
}
.navbar-nav {
  color: blueviolet;

}