{% load static %}
<head>
  <style>
#navlinks a {
  color: rgb(234, 227, 227);
  text-decoration: none;
}
#navlinks a:hover{
  color: rgb(93, 12, 225);
  transition: 0.5s;
}
i{
  color: rgb(179, 32, 195);
}
  </style>
</head>
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand"  href="{% url 'home' %}"><i class="fa fa-compass" style="color:aquamarine"></i> APPIN TECH LAB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto" id="navlinks">
          <a class="nav-link" aria-current="page" href="{% url 'home' %}"><i class="fa fa-home" style="color:beige"></i> Home</a>
          <a class="nav-link" aria-current="page" href="{% url 'about' %}"><i class="fa fa-phone" style="color:beige"></i> about</a>
          <a class="nav-link" aria-current="page" href="{% url 'course' %}"><i class="fa fa-laptop" style="color:beige"></i> course</a>
          <a class="nav-link" aria-current="page" href="{% url 'contact' %}"><i class="fa fa-user" style="color:beige"></i> contact</a>
        </div>
      </div>
    </div>
  </nav>
  