{%load static%}
<html>
<head>
  <link rel="stylesheet" href="{%static 'css/style.css'%}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="slideshow-container">
<div class="mySlides fade">
  <div class="numbertext">1 / 6</div>
  <img src="{%static 'images/apple.png'%}" style="width:30%">
  <div class="text">Caption One</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 6</div>
  <img src="{%static 'images/micro.jpg'%}" style="width:70%">
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 6</div>
  <img src="{%static 'images/infanion.jpg'%}"style="width:70%">
  <div class="text">Caption Three</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">4 / 6</div>
  <img src="{%static 'images/nano.png'%}"style="width:110%">
<div class="text">Caption four</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">5 / 6</div>
  <img src="{%static 'images/femtosoft.png'%}"style="width:110%">
<div class="text">Caption five</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">6 / 6</div>
  <img src="{%static 'images/auto.png'%}"style="width:30%">
<div class="text">Caption six</div>
</div>

</div>
<br>
<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>

<script>
let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); 
}
</script>

</body>
</html> 
